body {
	padding-top: 45px !important;
}

#bsbar {
	z-index: 1001 !important;
	background: url('http://wpsynergy.org/images/header.png') top left !important;
	color: #fff !important;
	font: 12px "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana !important;
	line-height: 45px;
	height: 45px !important;
	left: 0 !important;
	margin: 0 !important;
	position: absolute !important;
	top: 0 !important;
	width: 100% !important;
}

#bsbar .bsbar-menupop ul li a {
	color: #369 !important;
}

#bsbar .bsbar-menupop ul li a:hover {
	color: #036 !important;
	background: #ddd !important;
}

#bsbar a img {
	background: transparent !important;
	border: 0 !important;
	padding: 7px 7px 8px !important;
}

#bsbar .bsbar-menupop a:hover {
	background: none !important;
}

#bsbar small a {
	display: inline !important;
}

#bsbar ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
}

#bsbar ul li {
	float: left !important;
	margin: 0 !important;
}

#bsbar ul li.blogmeta {
	margin-top: 0.5em !important;
}

#bsbar .bsbar-menupop ul, #bsbar .bsbar-menupop ul li: last-child a:hover {
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

#bsbar .bsbar-dropdown {
	background: url('images/bullet_arrow_down.gif') no-repeat 100% 0 !important;
	padding-right: 1em !important;
	line-height: 45px !important;
}

#bsbar .bsbar-menupop ul {
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	background: #eee !important;
	left: -999em;
	position: absolute !important;
	border: 1px solid #ccc !important;
	border-top-color: #bbb !important;
	float: none !important;
}

#bsbar .bsbar-menupop li {
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background-image: none !important;
}

#bsbar .bsbar-menupop li: nth-child(2n) {
	background: #f9f9f9 !important;
}

#bsbar a,.blogmeta {
	border: none !important;
	color: #eee !important;
	display: block !important;
	font: 12px "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana !important;
	font-weight: normal !important;
	letter-spacing: normal !important;
	padding: 0 0.75em !important;
	line-height: 45px !important;
	text-decoration: none !important;
}

#bsbar a:hover,#bsbar .bsbar-menupop:hover {
	background: url('images/background.png') bottom left !important;
}

#bsbar-leftside ul li ul {
	min-width: 140px !important;
}

#bsbar .count-0 {
	display: none !important;
}

#bsbar #bsbar-rightside {
	float: right !important;
}